# Core Libraries
torch
transformers==4.39.3
datasets
# Downgraded to avoid conflict
sentence-transformers==2.2.2
tokenizers
accelerate==0.27.2

# Data + EDA
pandas
numpy
scikit-learn
matplotlib
seaborn
tqdm
wordcloud
pyyaml

# Additional Libraries
tensorboard
gradio
nltk
rouge-score